.projectsContainer {
  display: flex;
  height: 340px;
  width: 57%;
  float: right;
  background-color: #222222;
}

.projectContainer {
  display: flex;
  min-width: 100%;
}

.projectInfo {
  padding: 25px 15px;
  width: 50%;
}

.projectInfo h3 {
  display: table;
  font-size: 2.2rem;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: black;
}

.projectInfo p {
  font-size: 1.125rem;
  font-family: 'Jura', sans-serif;
  margin-top: 10px;
  line-height: 25px;
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-position: center;
  background-size: cover;
}

.thumbnail button {
  height: 40px;
  width: 150px;
  font-size: 1.1rem;
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
}

.thumbnail button:hover {
  background-color: #f7f7f7;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .projectsContainer {
    margin-bottom: 15px;
    width: 100%;
  }

  .projectInfo h3 {
    font-size: 2rem;
  }

  .projectInfo p {
    font-size: 1.125rem;
  }

  .thumbnail button {
    height: 35px;
    width: 140px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .projectInfo h3 {
    font-size: 2rem;
    line-height: 1.1;
  }

  .projectInfo p {
    font-size: 1rem;
    line-height: 20px;
  }
}
