.menuContainer {
  padding: 10px 0 0 6px;
}

.menuContainer ul li {
  display: table;
  font-size: 1.5625rem; /* 25px */
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 8px 0 6px;
  margin: 8px 0;
}

.menuContainer ul li:hover {
  background-color: #f7f7f7;
  font-weight: 400;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .menuContainer {
    padding: 8px 0 0 6px;
  }

  .menuContainer ul li {
    font-size: 1.325rem;
    margin: 8px 0;
  }
}
