.listContainer {
  display: flex;
  align-items: flex-end;
  width: 55%;
}

.listContainer div {
  font-size: 1.4rem;
  font-family: 'Chakra Petch', sans-serif;
  background-color: #222222;
  padding: 4px 11px;
}

.listContainer div:hover {
  background-color: #f7f7f7;
  color: black;
  cursor: pointer;
}
