.main-container {
  margin: 9em auto;
  padding: 0 20px;
  max-width: 1200px;
}

.heading-container {
  margin-left: 8px;
  position: relative;
  z-index: 100;
  background-color: #1c1c1c;
}

.heading-container h1 {
  font-size: 4.875rem; /* 78px */
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -3px;
}

.heading-container h1:nth-child(2) {
  margin-top: -28px;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}

.divider {
  height: 4px;
  width: 100%;
  background-color: #413e3e;
}

.wrapper {
  float: right;
  width: 57%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .main-container {
    margin: 4em auto 3.5em auto;
  }

  .heading-container h1 {
    font-size: 3.7rem;
  }

  .heading-container h1:nth-child(2) {
    margin-top: -23px;
  }

  .divider {
    height: 3px;
  }

  .wrapper {
    width: 100%;
  }
}

/* For swiper */
.swiper {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  width: 100%;
}

/* For transitions */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
