.main-container {
  margin: 9em auto;
  padding: 0 20px;
  max-width: 1200px;
}

.top-half {
  display: flex;
  justify-content: space-between;
}

.heading-container {
  margin-left: 8px;
}

.heading-container h1 {
  font-size: 4.875rem; /* 78px */
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -3px;
}

.heading-container h1:nth-child(2) {
  margin-top: -28px;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}

.divider {
  height: 4px;
  width: 100%;
  background-color: #413e3e;
}

@media only screen and (max-width: 800px) {
  .main-container {
    margin: 7em auto 4em auto;
  }

  .top-half {
    display: flex;
    flex-direction: column;
  }

  .heading-container h1 {
    font-size: 3.6rem;
  }

  .heading-container h1:nth-child(2) {
    margin-top: -23px;
  }

  .divider {
    height: 3px;
  }
}

/* For swiper */
.swiper {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  height: 100%;
  width: 100%;
}
